name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - run: npm install

      - run: npm run build

      - run: tree -sh dist

      - name: Store docs
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  deploy:
    needs: docs
    runs-on: ubuntu-latest

    permissions:
      contents: read
      deployments: write
      statuses: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - uses: cloudflare/wrangler-action@v3
        id: deploy
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist --project-name=${{ vars.CLOUDFLARE_PAGES_PROJECT_NAME }} --commit-hash=${{ github.sha }} --branch=${{ github.ref_name }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}


